name: Output information
on: 
  workflow_call: # this trigger will allow us to call this workflow in another workflow
    inputs:
      artifact-name:
        description: The name of a deployable artifact files
        required: false
        default: dist
        type: string
    outputs:
      result:
        description: Result of the deployment operation
        value: ${{ jobs.downloadDeploy.outputs.outcome }}

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Output Github context
        run: echo "${{ toJSON(github) }}"
  downloadDeploy:
    outputs:
      outcome: ${{ steps.set-result.outputs.step-result }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }} # Access to the input name
      - name: Access value
        run: echo "${{ needs.build.outputs.script-file }}"
      - name: Output contents
        # run: ls # list of the contain of the dist file.   \
        run: echo "step-result=success" >> $GITHUB_OUTPUT # RETURN THE VALUE step-result= success to access this in other workflow
  print-deploy-result:
    needs: downloadDeploy
    runs-on: ubuntu-latest
    steps:
      - name: Print deploy value
        run: echo "${{ needs.deploy.outputs.result }}"